* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 18px;
}

#app {
  margin: 0 auto;
  width: 400px;
  text-align: center;
}

#creator {
  height: 50px;
}

#board {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;

  .tile {
    // sized dynamically in Board.js (flex and height props)
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;

    font-family: 'Acme', sans-serif;
    font-size: 48px;
    color: #2b2b2b;

    border: 2px solid white;

    &:not(.blank) {
      background-color: #a5d6a7;
    }
  }

  .number {
  }
}

#keys {
  .key {
    display: inline-block;
    padding: 25px;
  }
}
